################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsoleTableExtSolution/.vs/ConsoleTableExtSolution/v15
/Src/ConsoleTableExt/bin/Debug
/Src/ConsoleTableExt/obj/Debug
/Src/ConsoleTableExtTest/bin/Debug
/Src/ConsoleTableExtTest/obj/Debug
/ConsoleTableExtSolution/packages/NUnit.3.9.0
/packages/NUnit.3.9.0
/.vs/ConsoleTableExtSolution/v15
/Src/ConsoleTableApp/bin/Debug
/Src/ConsoleTableApp/obj/Debug
/Src/ConsoleTableExt/obj
/Src/ConsoleTableApp/bin/Release
/Src/ConsoleTableApp/obj/Release
/Src/ConsoleTableExt/bin/Release
.vs/
/ConsoleTableExt.Tests/bin/Debug
/ConsoleTableExt.Tests/obj/Debug
/packages
/ConsoleTableExt.Tests/bin/Release
/ConsoleTableExt.Tests/obj/Release
/Src/ConsoleTableExt.Tests/bin/Debug
/Src/ConsoleTableExt.Tests/bin/Release
/Src/ConsoleTableExt.Tests/obj/Debug
/Src/ConsoleTableExt.Tests/obj/Release
