################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsoleTableExtSolution/.vs/ConsoleTableExtSolution/v15
/Src/ConsoleTableExt/bin
/Src/ConsoleTableExt/obj
/Src/ConsoleTableExtTest/bin
/Src/ConsoleTableExtTest/obj
/ConsoleTableExtSolution/packages/NUnit.3.9.0
/packages/NUnit.3.9.0
/.vs/ConsoleTableExtSolution/v15
/Src/ConsoleTableApp/bin
/Src/ConsoleTableApp/obj
/Src/ConsoleTableExt/obj
/Src/ConsoleTableApp/bin
/Src/ConsoleTableApp/obj
/Src/ConsoleTableExt/bin
.vs/
/ConsoleTableExt.Tests/bin
/ConsoleTableExt.Tests/obj
/packages
/ConsoleTableExt.Tests/bin
/ConsoleTableExt.Tests/obj
/Src/ConsoleTableExt.Tests/bin
/Src/ConsoleTableExt.Tests/obj
*/.DS_Store
.DS_Store
/Src/ConsoleTableExt/.DS_Store
